<!DOCTYPE html>
<html>
<head>
    <title>Authentication App</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MyApp</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            {% if user %}
              <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
              <li class="nav-item"><a class="nav-link" href="/coins">Coins</a></li>
              <li class="nav-item"><a class="nav-link" href="/weather">Weather</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>
